<div class="navMenu">
  <nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/dashboard"
        ><img
          src="/KA-Logo.svg"
          alt="KA"
          width="30"
          height="30"
          class="d-inline-block align-text-top"
      /></a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active" aria-current="page" href="/dashboard"
            >Home</a
          >
          <a class="nav-link" href="/roadtax">Roadtax</a>
          <a class="nav-link disabled" aria-disabled="true" href="/calc"
            >Calculator</a
          >
          <a
            class="nav-link"
            href="https://senaraibpa.pages.dev/"
            target="_blank"
            >Senarai Kod BPA</a
          ><a class="nav-link" href="/about-me">About Me</a>
          <!-- <a class="nav-link disabled" aria-disabled="true">Coming Soon</a> -->
        </div>
      </div>
      <div style="float: right">
        <a class="nav-link" href="/logout">
          <i
            class="bi bi-power"
            style="
              color: red;
              font-weight: 900;
              font-size: x-large;
              text-shadow: 1px 1px 2px whitesmoke;
            "
          ></i>
        </a>
      </div>
    </div>
  </nav>
</div>
