<!DOCTYPE html>
<html>
    <head>
        <%- include('../components/head.ejs') %>
        <link rel="stylesheet" type="text/css" href="gaya-resume.css" />
        <script src="https://kit.fontawesome.com/a7d9f82e48.js" crossorigin="anonymous"></script>

    </head>
    <body>
        <%- include('../components/menu.ejs') %> 
        <%- include('../components/greetUser.ejs') %>

    <div class="nav">
        <a href=#Home>Home</a> - 
        <a href=#ProfessionalExperience>Professional Experience</a> - 
        <a href=#Skills>Skills</a> -  
        <a href=#Education>Education</a> -  
        <a href=#Projects>Projects</a>
    </div>


<section class="main" id="Home">
    <div class="container">
        <div class="box" id="box_gambar"><img class="GambarKA" src="resume/KhairulAnwar.png"></div>
        <div class="box" id="box_nama"><h1 id="nama_ka"><strong>KHAIRUL<br><em>anwar</em></strong></h1></div>
    </div>
</section>

<section class="about_me">
    Currently onboarding online coding bootcamp program to be a Fullstack Web Developer by the end of 2023.
</section>

<section class="contact_me">
    <article class="item"><p class="contact_type"><i class="fa-solid fa-location-dot"></i> Location: </p><p class="contact_info"><b>Kuala Lumpur</b></p></article>
    <article class="item"><p class="contact_type"><i class="fa-solid fa-envelope"></i> Email: </p><p class="contact_info"><b><a href="mailto:khairul87@gmail.com" target="_blank" id="other_link">khairul87@gmail.com</a></b></p></article>
    <article class="item"><p class="contact_type"><i class="fa-solid fa-phone"></i> Phone: </p><p class="contact_info"><b><a href="tel:60194001148" target="_blank" id="other_link">6019-400-1148</a></b></p></article>
    <article class="item"><p class="contact_type"><i class="fa-brands fa-github"></i> GitHub: </p><p class="contact_info"><b><a href="https://github.com/KAnwar87" target="_blank" id="other_link">KAnwar87</a></b></p></article>
</section>

<hr>

<section class="ProfessionalExperience" id="ProfessionalExperience">
    <div>
        <h1 class="page_title"><i class="fa-solid fa-briefcase"></i> Professional Experience</h1>
    </div>

    <div class="pengalaman_kerja" id="kowamas">
        <details>
        <summary>
            <span class="position"><strong><i class="fa-solid fa-id-card-clip"></i> <em>Sales Executive</em></strong></span><br>
            <span class="company"><strong><i class="fa-solid fa-building"></i> Koperasi Wawasan Malaysia Bhd</strong><br>
            <em><i class="fa-sharp fa-solid fa-calendar"></i> Jan 2023 ~ present</em> </span><br>
            <span class="industry">Finance | Cooperative</span>
        </summary>
            <span class="job_desc"> 
                <ul>
                    <li>Personal financing for goverment staff.</li>
                    <li>Wasiat product - in collaboration with Palladium Trustee Bhd.</li>
                </ul>
            </span>
        </details>
    </div>

    <div class="pengalaman_kerja" id="akadsinergi">
        <details>
        <summary>
            <span class="position"><strong><i class="fa-solid fa-id-card-clip"></i> <em>Administrative & Human Resource Executive</em></strong></span><br>
            <span class="company"><strong><i class="fa-solid fa-building"></i> Akad Sinergi Sdn Bhd</strong><br>
                <em><i class="fa-sharp fa-solid fa-calendar"></i> Dec 2021 ~ Dec 2022</em></span><br>
            <span class="industry">Waste Management – Alam Flora Contractor | Master Agent for Koperasi Financing Product</span><br>
        </summary>
            <span class="job_desc"> 
                <ul>
                    <li>Manage all HR related task including recruitment, payroll processing, staff attendance, leave and claims.</li>
                    <li>Prepare invoice, credit note, work progress report and related report for daily operation.</li>
                    <li>Prepare invoice, generate monthly submission, disbursement listing and performance progress reports for koperasi disbursement.</li>    
                    <li>Prepare related paperwork for tender application process.</li>
                </ul>
            </span>
        </details>
    </div>

    <div class="pengalaman_kerja" id="sriukhwah">
        <details>
        <summary>
            <span class="position"><strong><i class="fa-solid fa-id-card-clip"></i> <em>Sales & Business Development Executive</em></strong></span><br>
            <span class="company"><strong><i class="fa-solid fa-building"></i> Sri Ukhwah Sdn Bhd</strong><br>
                <em><i class="fa-sharp fa-solid fa-calendar"></i> Jul 2019 ~ Nov 2021</em></span><br>
            <span class="industry">Finance - Master Agent for Koperasi Financing Product</span><br>
        </summary>
            <span class="job_desc"> 
                <ul>
                    <li>Create and regularly update Excel Loan Calculator for Koperasi Ukhwah, Kobeta & Koputri as part of sales kit for internal marketing staff and agents.</li>
                    <li>Manage sales and any other issues related to internal staff and agents' submissions.</li>
                    <li>Become liaison on behalf of the company between koperasi and agents in daily operational activities.</li>
                    <li>Prepare invoice for each koperasi/bank disbursement and generate monthly submission & disbursement reports and performance progress reports.</li>
                    <li>Conduct training and coaching for marketing staff and agents.</li>
                </ul>
            </span>
        </details>
    </div>


    <div class="pengalaman_kerja" id="myplan">
        <details>
        <summary>
            <span class="position"><strong><i class="fa-solid fa-id-card-clip"></i> <em>Freelance Sales Agent</em></strong></span><br>
            <span class="company"><strong><i class="fa-solid fa-building"></i> Myplan Consulting Sdn Bhd</strong><br>
                <em><i class="fa-sharp fa-solid fa-calendar"></i> Nov 2017 ~ Jun 2019</em></span><br>
            <span class="industry">Finance - Master Agent for RCE Marketing</span><br>
        </summary>
            <span class="job_desc"> 
                <ul>
                    <li>Procure new sales.</li>
                    <li>Assist customer in preparing documentation, submission process, follow-up for processing approval, and payment disbursement.</li>
                </ul>
            </span>
        </details>
    </div>

    <div class="pengalaman_kerja" id="coway">
        <details>
        <summary>
            <span class="position"><strong><i class="fa-solid fa-id-card-clip"></i> <em>Health Planner</em></strong></span><br>
            <span class="company"><strong><i class="fa-solid fa-building"></i> Coway (M) Sdn Bhd</strong><br>
                <em><i class="fa-sharp fa-solid fa-calendar"></i> May 2015 ~ Oct 2017</em></span><br>
            <span class="industry">Direct Selling – Home Appliances</span><br>
        </summary>
            <span class="job_desc"> 
                <ul>
                    <li>Direct selling of products at a permanent booth inside the mall, outdoor sales road show, and during exhibition events.</li>
                    <li>Acquire appointment and follow-up quotation, payment, and products installation for corporate sales.</li>
                    <li>Conduct product and sales training for new recruits.</li>
                    <li>Working together with Team Leaders / Managers to plan sales activities.</li>
                </ul>
            </span>
        </details>
    </div>

    <div class="pengalaman_kerja" id="prudential">
        <details>
        <summary>
            <span class="position"><strong><i class="fa-solid fa-id-card-clip"></i> <em>Wealth Planner</em></strong></span><br>
            <span class="company"><strong><i class="fa-solid fa-building"></i> Prudential Assurance Malaysia Bhd & Prudential BSN Takaful Bhd</strong><br>
                <em><i class="fa-sharp fa-solid fa-calendar"></i> May 2011 ~ Apr 2015</em></span><br>
            <span class="industry">Insurance & Takaful</span><br>
        </summary>
            <span class="job_desc"> 
                <ul>
                    <li>Sell insurance and takaful products.</li>
                </ul>
            </span>
        </details>
    </div>

    <div class="pengalaman_kerja" id="unisem">
        <details>
        <summary>
            <span class="position"><strong><i class="fa-solid fa-id-card-clip"></i> <em>Final Test Supervisor</em></strong></span><br>
            <span class="company"><strong><i class="fa-solid fa-building"></i> Unisem (M) Bhd</strong><br>
                <em><i class="fa-sharp fa-solid fa-calendar"></i> Dec 2010 ~ Apr 2011</em></span><br>
            <span class="industry">Semiconductor</span><br>
        </summary>
            <span class="job_desc"> 
                <ul>
                    <li>Plan and run daily operation to meet output dateline.</li>
                    <li>Supervise operator.</li>
                </ul>
            </span>
        </details>
    </div>

    </section>

    <hr>

    <section class="Skills" id="Skills">
    <div>
        <h1 class="page_title"><i class="fa-solid fa-screwdriver-wrench"></i> Skills</h1>
    </div>

    <div class="container">
        <div class="box" id="box_developer">
            <span class="skills_category"><h3><i class="fa-solid fa-code"></i> Developer Skills</h3></span>
            <span class="dev_skills_list"> 
                <ul class="nobullets">
                    <li><i class="fa-brands fa-html5"></i> HTML</li>
                    <li><i class="fa-brands fa-css3-alt"></i> CSS</li>
                    <li><i class="fa-brands fa-square-js"></i> JavaScript</li>
                    <li><i class="fa-brands fa-square-git"></i> Git</li>
                    <li><i class="fa-brands fa-php"></i> PHP</li>
                    <li><i class="fa-solid fa-database"></i> MYSQL</li>
                    <li><i class="fa-brands fa-wordpress"></i> WordPress</li>
                    <li><i class="fa-brands fa-joomla"></i> Joomla</li>
                </ul>
            </span>
        </div>
        <div class="box" id="box_language">
            <span class="skills_category"><h3><i class="fa-solid fa-language"></i> Language Skills</h3></span>
            <span class="lang_skills_list"> 
                <article class="language"><p class="lang_name"><img src="resume/icons8-great-britain-16.png"> English</p><p class="lang_level">Proficient</p></article>
                <article class="language"><p class="lang_name"><img src="resume/icons8-malaysia-16.png"> Malay</p><p class="lang_level">Proficient</p></article>
                <article class="language"><p class="lang_name"><img src="resume/icons8-japan-16.png"> Japanese</p><p class="lang_level">Beginner</p></article>
            </span>
                
        </div>
    </div>

</section>


<hr>

<section class="Education" id="Education">
    <div>
        <h1 class="page_title"><i class="fa-solid fa-graduation-cap"></i> Education</h1>
    </div>

    <div class="container_edu_project">
        <div class="box" id="box_degree">
            <span class="study"><h3><i class="fa-solid fa-scroll"></i> Bachelor of Business Administration<br>BBA (Hons.)</h3></span>
            <span class="institution"><strong>Universiti Utara Malaysia (UUM)</strong>
                <br><em>Sintok, Kedah</em><br> 2007 ~ 2010 </span><br>
            <span class="grade">CGPA 3.20</span>
        </div>

        <div class="box" id="box_stpm">
            <span class="study"><h3><i class="fa-solid fa-scroll"></i> Sijil Tinggi Pelajaran Malaysia<br>STPM</h3></span>
            <span class="institution"><strong>SMK Sultan Yussuf</strong>
                <br><em>Batu Gajah, Perak</em><br> 2005 ~ 2006 </span><br>
            <span class="grade">CGPA 3.00</span>
        </div>

        <div class="box" id="box_spm">
            <span class="study"><h3><i class="fa-solid fa-scroll"></i> Sijil Pelajaran Malaysia<br>SPM</h3></span>
            <span class="institution"><strong>SMK Sultan Yussuf</strong>
                <br><em>Batu Gajah, Perak</em><br> 2000 ~ 2004 </span><br>
            <span class="grade">4A</span>
        </div>

    </div>
</section>


<hr>

<section class="Projects" id="Projects">
    <div>
        <h1 class="page_title"><i class="fa-solid fa-diagram-project"></i> Projects</h1>
    </div>

    <div class="container_edu_project">
        <div class="box" id="box_projects">
            <img class="web_images" width="300" height="200" src="resume/KoperasiKredit-resized.png"><br>
            <span class="client_name"><strong><em>KA Wealth Management</em></strong></span><br>
            <span class="website"><strong>https://koperasikredit.com</strong></span>&emsp;<a href="https://koperasikredit.com" target="_blank" id="other_link"><i class="fa-solid fa-binoculars"></i></a><br>
            <span class="info">List of products availabe and criteria.<br>Built using Wordpress, with Elementor plugin.<br>Site status: <i class="fa-solid fa-link"></i> Active</span>
            
        </div>

        <div class="box" id="box_projects">
            <img class="web_images" width="300" height="200" src="resume/KowamasHq-resized.png"><br>
            <span class="client_name"><strong><em>Kowamas Medan Tuanku Branch</em></strong></span><br>
            <span class="website"><strong>https://kowamashq.com</strong></span>&emsp;<a href="https://kowamashq.com" target="_blank" id="other_link"><i class="fa-solid fa-binoculars"></i></a><br>
            <span class="info">Simple landing site.<br>Built using Wordpress, with Elementor plugin.<br>Site status: <i class="fa-solid fa-link"></i> Active</span>
        </div>

        <div class="box" id="box_projects">
            <img class="web_images" width="300" height="200" src="resume/error-404.png"><br>
            <span class="client_name"><strong><em>Coway Agent</em></strong></span><br>
            <span class="website"><strong>https://cowaypartner.com</strong></span><br>
            <span class="info">Product gallery.<br>Built using Wordpress, with Divi plugin.<br>Site status: <i class="fa-solid fa-plug-circle-xmark"></i> Defunct</span>
        </div>

    </div>
    </section>
    <div style="height: 15px;"></div>
        <!-- ^^^ SET ALL CONTENT ABOVE THIS LINE ^^^ -->
        <!-- vvv SET ALL SCRIPT ONLY BELOW THIS LINE vvv -->

        <script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"
        ></script>
        <script src="" async defer></script>
        <%- include('../components/footer.ejs') %>
    </body>
</html>
