<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>OCB Project by Khairul Anwar</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/svg+xml" href="/KA-Logo.svg" />
    <link rel="stylesheet" type="text/css" href="/bsod.css" />
  </head>
  <body>
    <main class="bsod container">
      <h1 class="neg title"><span class="bg">Error - 401</span></h1>
      <p>You are here most possibly due to:</p>
      <br />
      <p>- 401: "Unauthorised - Token not found in session."</p>
      <p>- 401: "Unauthorised - Decoded token does not contain user id."</p>
      <p>- 401: "Unauthorised - Error."</p>

      <p>To continue:</p>
      <p>> Return to our homepage.<br />
      > Let us know about this error and try later.</p>
      <nav class="nav">
        <a href="/" class="link">home</a>&nbsp;|&nbsp;<a href="tel:60194001148" class="link">webmaster</a>
      </nav>
    </main>

    
    <script src="" async defer></script>
  </body>
</html>
