<!DOCTYPE html>
<html>
  <head>
    <%- include('../components/head.ejs') %>
  </head>
  <body>
    <div class="container-sm centerwrap">
      <div class="header contentAlignCenter">
        <!-- <img src="./MERNstackBanner.png" class="img-fluid MERNstackBanner" /> -->
        <h3 class="textAlignCenter">
          Online Coding Bootcamp Project <br />by Khairul Anwar
        </h3>
        <br />
        <h4 class="textAlignCenter">Registration Page</h4>
      </div>
      <div class="parent contentAlignCenter">
        
      <div class="EJS_Flash_Message">
        <% if (messages.length > 0) { %>
          <div class="flash-messages">
              <% messages.forEach(message => { %>
              <div class="flash-message">
                <div class="col-5 alert alert-danger contentAlignCenter" role="alert">
                  <%= message %>
                </div>  
              </div>
              <% }); %>
          </div>
          <% } %>
      </div>

        <div class="registerPageBackground">
          <form
            class="child contentAlignCenter"
            style="opacity: 1"
            action="/api-register"
            method="post"
          >
            <div class="form-floating mb-3">
              <input
                type="text"
                class="form-control"
                id="username"
                name="username"
                placeholder="username"
                required
              />
              <label for="floatingInput">Username</label>
            </div>
            <div class="form-floating mb-3">
              <input
                type="email"
                class="form-control"
                id="email"
                name="email"
                placeholder="email"
                required
              />
              <label for="floatingInput">Email</label>
            </div>
            <div class="form-floating mb-3">
              <input
                type="password"
                class="form-control"
                id="password"
                name="password"
                placeholder="password"
                required
              />
              <label for="floatingInput">Password</label>
            </div>
            <div class="col">
              <button
                type="submit"
                id="submitButton"
                class="btn btn-outline-success"
                name="submit"
              >
                <i class="bi bi-check-square-fill"></i>
                Register
              </button>
              <button
                type="reset"
                id="resetButton"
                class="btn btn-outline-warning"
              >
                <i class="bi bi-exclamation-circle-fill"></i>
                Reset
              </button>
            </div>
            <br />
            <!-- <span style="color: darkgrey; font-size: small"
              >Problems signing in?</span
            > -->
          </form>
        </div>
      </div>
      <span style="color: silver; font-size: small"
        >Khairul Anwar bin Zainuddin | 019-400-1148 | khairul87@gmail.com</span
      >
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
