<!DOCTYPE html>
<html>
  <head>
    <%- include('../components/head.ejs') %>
  </head>
  <body>

    
    <h1><%= session.username %></h1>



    <!-- ^^^ SET ALL CONTENT ABOVE THIS LINE ^^^ -->
    <!-- vvv SET ALL SCRIPT ONLY BELOW THIS LINE vvv -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
    <script src="" async defer></script>
    <%- include('../components/footer.ejs') %>
  </body>
</html>
